
.nav-links .About{
    color: #4BA1DE !important;
  }

  
  .hero {
      /* background-color: black; */
    background-image: url("../media/gym_background.png");
    background-position: center;
    background-blend-mode: darken;
    /* opacity: 50%; */
    padding: 6rem;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  .hero-text {
    /* margin-left: 6rem; */
    text-align: left;
    color: #fff;
    max-width: 800px;
  }
  
  .hero-text h1 {
    font-size: 48px;
    margin-bottom: 0.5rem;
  }
  
  .hero-text p {
    font-size: 18px;
    margin-bottom: 1rem;
  }
  
  .hero-text button{
      display: inline -block;
    padding: 0.5rem 1rem;
    background-color: #4BA1DE;
    color: #ffffff !important;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .main {
    padding: 2rem;
  }



  /* Responsive */
@media screen and (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .mobile-menu{
      display: block;
    }
  
    .hero {
      height: 40vh;
      padding: 2rem;
    }
  
    .hero-text h1 {
      font-size: 32px;
    }
  
    .hero-text p {
      font-size: 16px;
    }
  
  }

  .our-team {
    text-align: center;
    margin-top: 4rem;
  }
  
  .our-team h2 {
    font-size: 32px;
    margin-bottom: 2rem;
  }
  
  .team-members {
    display: flex;
    justify-content: center;
  }
  
  .team-member {
    margin: 0 1.5rem;
  }
  
  .member-image {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 0.5rem;
  }
  
  .member-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .member-name {
    font-size: 20px;
    font-weight: bold;
  }

  .member-position {
    font-size: 14px;
  }
  
@media (max-width: 768px) {
 
  .team-members {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  
  main h4 {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  
  .team-members {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  
  main h4 {
    font-size: 16px;
  }
}
