
.nav-links .Contact{
    color: #4BA1DE !important;
  }

  
  .hero {
      /* background-color: black; */
    background-image: url("../media/gym_background.png");
    background-position: center;
    background-blend-mode: darken;
    /* opacity: 50%; */
    padding: 6rem;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  .hero-text {
    /* margin-left: 6rem; */
    text-align: left;
    color: #fff;
    max-width: 800px;
  }
  
  .hero-text h1 {
    font-size: 48px;
    margin-bottom: 0.5rem;
  }
  
  .hero-text p {
    font-size: 18px;
    margin-bottom: 1rem;
  }
  
  .hero-text button{
      display: inline -block;
    padding: 0.5rem 1rem;
    background-color: #4BA1DE;
    color: #ffffff !important;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .main {
    padding: 2rem;
  }



  /* Responsive */
@media screen and (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .mobile-menu{
      display: block;
    }
  
    .hero {
      height: 40vh;
      padding: 2rem;
    }
  
    .hero-text h1 {
      font-size: 32px;
    }
  
    .hero-text p {
      font-size: 16px;
    }
  
  }

  .contact {
  display: flex;
  justify-content: space-between;
}

form {
  width: 60%;
}

form label {
  display: block;
  margin-top: 1rem;
}

form input,
form textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba(3, 105, 247, 0.18);


}

form input[type="submit"] {
  background-color: #4BA1DE;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

.image-container {
  width: 35%;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

@media only screen and (max-width: 768px) {
  
  .image-container {
    display: none;
  }
  .contact form {
    width: 90%;
    margin: auto;
  }
}

@media only screen and (max-width: 480px) {
  
  .contact form {
    height: 100%;
  }
}
